<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="CustomSection" type="ConsoleApp3.StartupCustomSection, ConsoleApp3"/>
	</configSections>
	
	<CustomSection Name="ConfigSection">
		<CustomElement>
			<add key="Language" value="ru"/>
      
			<add key="AddNumber" boolValue="true"/>

      <add key="AddDate" boolValue="true"/>

      <add key="FoldersC" value= "C:\"/>
      <add key="FoldersGames" value= "C:\Games"/>
      
		</CustomElement>
	</CustomSection>

	<appSettings>
		<add key="\w*.txt$" value="Текстовые файлы" />
		<add key="\w*.jpg$" value="Картинки" />
		<add key="\w*.docx$" value="Документы" />
	</appSettings>
</configuration>
